<%- include('includes/_head') %>
  <a href="/admin/logout" class="btn">Logout</a>
  <h1>
    <%= data.months[data.currMonth] %>
  </h1>
  <a href="/admin/<%= data.prevMonth %>">Previous Month</a> |
  <a href="/admin/<%= data.nextMonth %>">Next Month</a>
  <table>
    <tr>
      <th>Date</th>
      <th>Holiday</th>
      <th>Actions</th>
    </tr>
    <% data.results.forEach(result=> { %>
      <tr id="<%= result._id %>">
        <td>
          <%= result.month %>/<%= result.day %>
        </td>
        <td contenteditable="true" class="th-txtName">
          <%= result.name %>
        </td>
        <td><button class="th-btnDelete">Delete</button></td>
      </tr>
      <% }); %>
  </table>

  <script>
    let buttons = document.querySelectorAll('.th-btnDelete');
    buttons.forEach(button => {
      button.addEventListener('click', (e) => {
        //console.log(e.path[2].id);
        // Delete item from DB
        deleteHoliday(e.path[2].id);
      })
    });
    let names = document.querySelectorAll('.th-txtName');
    let nameTxtVal;
    names.forEach(nameTxt => {
      nameTxt.addEventListener('click', (e) => {
        nameTxtVal = e.target.textContent.trim();
      });
      nameTxt.addEventListener('blur', (e) => {
        let value = e.target.textContent.trim();
        if (nameTxtVal !== value) {
          // Update name in DB
          updateHoliday(e.path[1].id, value);
        }
      });
    });

    const updateHoliday = async (id, value) => {
      let update = {
        id: id,
        update: {
          name: value
        }
      };
      try {
        let resp = await fetch('/holidays', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(update)
        });
        if (resp.status === 200) {
          location.reload();
        }

      } catch (error) {
        console.log(error);
      }
    }

    const deleteHoliday = async (id) => {
      console.log(id);
      try {
        let resp = await fetch('/holidays', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ id: id })
        });
        console.log(resp);
        location.reload();
      } catch (error) {
        console.log(error);
      }
    }
  </script>
  <%- include('includes/_foot') %>