<%- include('includes/_head') %>
  <div class="container">
    <!-- <div class="formgroup">
    <input type="text" name="search" id="search" class="text-search">
    <button type="button" class="btn-search">Search</button>
    <div class="search-results"></div>
  </div> -->
    <div class="th-month d-flex justify-content-between align-items-center">
      <a href="/admin/<%= data.prevMonth %>" class="th-btn-month th-btn-prev btn btn-sm">&laquo; <%=
          data.months[data.prevMonth] %>
      </a>
      <h1>
        <%= data.months[data.currMonth] %>
      </h1>
      <a href="/admin/<%= data.nextMonth %>" class="th-btn-month th-btn-next btn btn-sm">
        <%= data.months[data.nextMonth] %> &raquo;
      </a>
    </div>


    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th width="7%">Date</th>
          <th width="49%">Holiday</th>
          <th width="34%">Tags</th>
          <th width="10%">&nbsp;</th>
        </tr>
      </thead>
      <tr class="th-holiday-nav">
        <td colspan="2"><a href="#" class="th-btn-holidays" id="btn-prevHolidayGroup">&laquo; Previous Holidays</a></td>
        <td colspan="2" class="text-end"><a href="#" class="th-btn-holidays" id="btn-nextHolidayGroup">Next Holidays
            &raquo;</a></td>
      </tr>
      <tbody id="tbody-holidays">
        <% data.results.forEach(result=> { %>
          <tr id="<%= result._id %>" class="hide">
            <td>
              <%= result.month %>/<%= result.day %>
            </td>
            <td>
              <span contenteditable="true" class="th-txtName">
                <%= result.name %>
              </span>
            </td>
            <td>
              <% let tag=result.tags[0] ? result.tags[0].name : '' %>
                <input list="th-tag-options" class="th-tag form-control" name="th-tag" placeholder="Type to add..."
                  value="<%= tag %>">
            </td>
            <td class="text-center"><button class="th-btnDelete btn btn-outline-danger btn-sm">Delete</button></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-sm btn-light" id="btn-prevHolidayGroup2">&laquo; Previous Holidays</a>
      <a href="#" class="btn btn-sm btn-light" id="btn-nextHolidayGroup2">Next Holidays &raquo;</a>
    </div>
    <datalist id="th-tag-options">
      <% data.tags.forEach(tag=> { %>
        <option value="<%= tag.name %>">
          <%= tag.name %>
        </option>
        <% }) %>
    </datalist>

  </div>


  <script src="/js/admin.js"></script>
  <%- include('includes/_foot') %>