<%- include('includes/_head') %>
  <style>
    .updated {
      color: green;
    }
  </style>
  <a href="/admin/logout" class="btn">Logout</a>
  <div class="formgroup">
    <input type="text" name="search" id="search" class="text-search">
    <button type="button" class="btn-search">Search</button>
    <div class="search-results"></div>
  </div>
  <h1>
    <%= data.months[data.currMonth] %>
  </h1>
  <a href="/admin/<%= data.prevMonth %>">Previous Month</a> |
  <a href="/admin/<%= data.nextMonth %>">Next Month</a>
  <table>
    <tr>
      <th>Date</th>
      <th>Holiday</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    <% data.results.forEach(result=> { %>
      <tr id="<%= result._id %>">
        <td>
          <%= result.month %>/<%= result.day %>
        </td>
        <td contenteditable="true" class="th-txtName">
          <%= result.name %>
        </td>
        <td>
          <% let tag=result.tags[0] ? result.tags[0].name : '' %>
            <input list="th-tag-options" class="th-tag" name="th-tag" placeholder="Type to add..." value="<%= tag %>">
        </td>
        <td><button class="th-btnDelete">Delete</button></td>
      </tr>
      <% }); %>
  </table>
  <datalist id="th-tag-options">
    <% data.tags.forEach(tag=> { %>
      <option value="<%= tag.name %>">
        <%= tag.name %>
      </option>
      <% }) %>
  </datalist>
  <hr>
  <h2>Tags</h2>
  <table>
    <tr>
      <th>Tag Name</th>
      <th>Count</th>
      <th></th>
    </tr>
    <!-- TODO: implement editable tags, implement add tag from this section -->
    <% data.tags.forEach(tag=> { %>
      <tr data-id="<%= tag._id %>">
        <td contenteditable="true">
          <%= tag.name %>
        </td>
        <td>
          <%= tag.count %>
        </td>
        <td>
          <%= tag.count===0 ? 'deletelink' : '' %>
        </td>
      </tr>
      <% }) %>
  </table>
  <form><input type="text" name="" id=""><button>Add Tag</button></form>
  <script src="/js/admin.js"></script>
  <%- include('includes/_foot') %>